@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/AccountingClient.js"></script>
}

@section Body
{
    @*<div ng-app="AccountingApp" class="row">
            <div ng-controller="PriceController">
                {{message}}
            </div>
        </div>*@
    <div ng-app="AccountingApp" ng-controller="PriceController" id="summary" class="section panel panel-default">
        <div class="panel-heading">
            Типы цен <span class="badge"></span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сумма, р.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-bind="text: Id"></td>
                        <td data-bind="text: Title"></td>
                        <td data-bind="text: Value"></td>
                        <td>
                            <button type="button"
                                    class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button type="button"
                                    class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">
                Создать
            </button>
        </div>
    </div>
}