@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/AccountingClient.js"></script>
}

@section Body
{
    <div ng-app="AccountingApp" id="summary" class="section panel panel-default">
        <div class="panel-heading">
            Типы цен <span class="badge"></span>
        </div>
        <div class="panel-body">
            <input type="text" placeholder="Search price by name" ng-model="searchPrice" />
            <table class="table table-hover" ng-controller="PricesController as customer">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Сумма, р.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in customer.prices | filter : searchPrice">
                        <td>{{p.Id}}</td>
                        <td>{{p.Title}}</td>
                        <td>{{p.Value}}</td>
                        <td>
                            <button type="button"
                                    class="btn btn-xs btn-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <button type="button"
                                    class="btn btn-xs btn-default">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-primary">
                Создать
            </button>
        </div>
    </div>
}